@if (name) {
  <div>{{name}}</div>
} @else {
<div>No hay nombre</div>
}

@for (item of array; track $index) {
  <h2>{{item}}</h2>
}


<button value="Pulsa" (click)="show($event)"> hazme click</button>

@for (item of array; track $index) {
  <app-calendar (fechaSelectEvent)="getFecha($event)" [attr.data-day]="item"></app-calendar>
}

<h1>Hello, you have pressed keys {{counter}} number of times!</h1> Press any key to
increment the counter.
<button (click)="resetCounter()">Reset Counter</button>


<H3>{{fecha | date:'dd/MM/YYYY HH:mm:ss' }}</H3>

<app-show-time></app-show-time>
<app-show-time></app-show-time>
<app-show-time></app-show-time>



<button (click)="getMensaje()">LLamada a Servicio</button>
